Language: Cpp
BasedOnStyle: Google
DerivePointerAlignment: false
IndentPPDirectives: AfterHash
Cpp11BracedListStyle: false
AlwaysBreakTemplateDeclarations: Yes
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
ColumnLimit: 80
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
IndentWidth: 2